include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/button/button.pug
include ../blocks/navigation/navigation.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/advantages/advantages.pug
include ../blocks/map/map.pug
include ../blocks/search/search.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/bottom/bottom.pug
