doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    +navigation
    +front
    .wrapper.bottom
      +advantages
      +map
    include ../templates/scripts.pug