mixin front(additionalClass)
  .front(class=additionalClass)
    .front__item
      .front__header Успейте купить кроссовки New Balance
      .front__comment Со скидкой до 60% только до 28 октября!
    .front__item
      .front__header Магазин в центре Москвы
      .front__comment В наличии более 100 моделей