mixin advantages(additionalClass)
  ul.advantages(class=additionalClass)
    li.advantages__item
      .advantages__icon.advantages__icon--badge
      .advantages__header Нам 5 лет
      .advantages__comment Официальный магазин New Balance в Москве
    li.advantages__item
      .advantages__icon.advantages__icon--delivery
      .advantages__header Бесплатная доставка
      .advantages__comment Бесплатная доставка за 90 минут до 3-х пар по Москве
    li.advantages__item
      .advantages__icon.advantages__icon--guarantee
      .advantages__header Гарантия 1 год
      .advantages__comment Сертифицированная, оригинальная обувь с гарантией на год