mixin menu(additionalClass)
  ul.menu(class=additionalClass)
    li.menu__item
      a.menu__item-link(href="#") Магазин
    li.menu__item
      a.menu__item-link(href="#") Доставка
    li.menu__item
      a.menu__item-link(href="#") Гарантии
    li.menu__item
      a.menu__item-link(href="#") Сертификаты
    li.menu__item
      a.menu__item-link(href="#") Отзывы